# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

src_cpp/bin/

src_cpp/.vs/

zef/zefDB_raw.exp

zef/zefDB_raw.ilk

zef/zefDB_raw.pdb

zef/zefDB_raw.pyd

.vs/zefDB/v16/

.vs/

zef/__pycache__/__init__.cpython-37.pyc

__pycache__/

zef/zefDB_raw.ipdb

zef/zefDB_raw.iobj

zefhub.key

zefhub/zefhub_shelf.bak

zefhub/zefhub_shelf.dat

zefhub/zefhub_shelf.dir

.idea/workspace.xml

.vscode/

.idea/misc.xml

.idea/zefDB.iml

venv/

.idea/

.DS_Store

build/

/julia_module/Manifest.toml

examples/.ipynb_checkpoints/

/gql/.ipynb_checkpoints/

cogbuild.latest
*.gen
zeftypes_??.json
zef/pyzef.pyd

*.zeflog
/lib/

dummy_cog.tracker

pip_output.log
/cmake_build/
/dist/
/julia_module/bindings/
/packaged_git_commit
/src_cpp/build_julia_package/src/Manifest.toml

Testing/Temporary/

tests/Testing/Temporary/
/zefhub/zeftypes_bootstrap_RT.json
/zefhub/zeftypes_bootstrap_EN.json
/zefhub/zeftypes_bootstrap_ET.json
/zefhub_internal_use.key
/zef/gql/dev-notebooks/.ipynb_checkpoints/
/zef.egg-info/
/Dockerfile.build_wheel.py39
/compile_commands.json
/_cmake_deps/
/zef/internals/rel_ent_classes.pyi
/update_tokens/all_created.tokens
/update_tokens/early.tokens
/zef/core/internals/rel_ent_classes.pyi
/zef/packaged_git_commit
/cmake_install/
/wheelhouse/
/python/dist/
/python/zef.egg-info/
/scripts/all_created.tokens
/scripts/early.tokens
python/zef/pyzef.pyd
core/CMakeSettings.json
/python/zef/auth.html
/python/tests/robot/log.html
/python/tests/robot/output.xml
/python/tests/robot/report.html
