Rx>=3.1.1
websockets>=10.1
pyfunctional>=1.3.0
toml>=0.10.1
dateparser>=0.7.6
cogapp>=3.0.0
structlog>=20.1.0
colorama>=0.4.3
ariadne>=0.12.0
pyperclip>=1.8.2
pytz>=2021.1
more-itertools>=4.2.0
art>=5.2
PyYAML>=6.0
zstd>=1.5.1.0
pandas>=1.3.5
case-converter>=1.0.2
watchdog>=2.1.9