name: Build Release

#on:
#  push:
#    tags:
#      - "v*"
#      - "!v*-macos"

on:
  release:
    types: [published, create]

jobs:
  check-license:
    uses: ./.github/workflows/check-license.yml

  build-wheels:
    name: Build wheels
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04, macos-latest]
        # Note: need "3.10" as yaml will truncate floating point number
        # python-version: [3.8, 3.9, "3.10"]
        python-version: ["3.10"]
        exclude:
          - os: macos-latest
            python-version: 3.8
    env:
      ZEFHUB_AUTH_KEY: "GUEST"

    steps:
      ########
      # Git things
      - uses: actions/checkout@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Build wheel
        uses: ./.github/actions/build
        timeout-minutes: 15
        with:
          python-version: ${{ matrix.python-version }}
          os: ${{ matrix.os }}

          build-wheel: true
          run-cmake-tests: false
        
      ######
      # Release asset
      # Maybe remove this if we use pypi only.
      - name: release asset
        uses: softprops/action-gh-release@v1
        with:
          files: dist/*

      - name: save artifact for docs upload
        uses: actions/upload-artifact@v3
        with:
          name: wheels
          path: |
            dist/*

      #######
      # Errors to slack
      - uses: 8398a7/action-slack@v3
        with:
          status: ${{ job.status }}
          if_mention: failure
          channel: "#alerts-github-ci"
          fields: repo,message,commit,author,ref,workflow # selectable (default: repo,message)
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        if: ${{ failure() && !contains(github.ref, 'dev') }}

  upload-to-pypi:
    name: Upload wheels to PyPI
    # if: ${{ (!contains(github.ref, 'dev') && github.event.release.prerelease == false) }}
    runs-on: ubuntu-20.04
    needs: [build-wheels]
    steps:
      - name: Grab built wheels
        uses: actions/download-artifact@v3
        with:
          name: wheels
          path: dist

      - name: upload to pypi
        env:
          PYPI_TOKEN: ${{ secrets.PYPI_TOKEN }}
        run: |
          ls -R dist
          pip3 install --upgrade pip setuptools
          pip3 install --upgrade twine
          python3 -m twine upload --repository testpypi -u __token__ -p "${PYPI_TOKEN}" --skip-existing dist/*
          
  update-index:
    name: Update s3 index
    runs-on: ubuntu-20.04
    needs: [build-wheels]
    steps:
      - uses: actions/checkout@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          persist-credentials: true

      - name: Get tag
        id: vars
        run: |
          echo ::set-output name=tag::${GITHUB_REF##*/pyzef-}

      - name: Release announcement
        if: ${{ (!contains(github.ref, 'dev') && github.event.release.prerelease == false) }}
        env:
          MATTERMOST_URL: ${{ secrets.MATTERMOST_URL }}
          CHANNEL: releases
          NAME: ${{ github.event.release.name }}
          DESCRIPTION: ${{ github.event.release.body }}
          VERSION_STRING: ${{ steps.vars.outputs.tag }}
          DOWNLOAD_STRING: "`pip3 install --upgrade zef`"
        run: go run ${GITHUB_WORKSPACE}/.github/scripts/publish_release_announcement.go

      - name: Release announcement for dev
        if: ${{ (contains(github.ref, 'dev') || github.event.release.prerelease == true) }}
        env:
          MATTERMOST_URL: ${{ secrets.MATTERMOST_URL }}
          CHANNEL: dev-releases
          NAME: "${{ github.event.release.name }}"
          DESCRIPTION: "${{ github.event.release.body }}"
          VERSION_STRING: ${{ steps.vars.outputs.tag }}
          DOWNLOAD_STRING: "https://github.com/zefhub/zef/releases/${{ steps.vars.outputs.tag }}"
        run: go run ${GITHUB_WORKSPACE}/.github/scripts/publish_release_announcement.go

  upload-zefops:
    name: Deploy zefops docstrings to zef-docs.
    runs-on: ubuntu-20.04
    needs: [build-wheels]
    if: ${{ !contains(github.ref, 'dev') && github.event.release.prerelease == 'false' }}
    strategy:
      matrix:
        python-version: [3.8]
    steps:
      - uses: actions/checkout@v2
        with:
          path: /home/runner/work/zefDB/zefDB/zefDB
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Grab built wheel
        uses: actions/download-artifact@v3
        with:
          name: wheels
          path: dist

      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ inputs.python-version }}

      - name: Install wheel
        run: pip3 install dist/*.whl

      ########
      # Generate docs
      - name: Run extract docstrings script
        run: |
          export PYTHONPATH="${GITHUB_WORKSPACE}/zefDB:$PYTHONPATH"
          echo $PYTHONPATH
          python zefDB/scripts/extract-docstrings.py
      - uses: actions/checkout@v2
        with:
          repository: synchronoustechnologies/zef-docs
          path: /home/runner/work/zefDB/zefDB/zef-docs
          token: ${{ secrets.GIT_ACCESS_KEY }}
          persist-credentials: true
      - run: |
          mv zef-ops.mdx /home/runner/work/zefDB/zefDB/zef-docs/docs/zef-ops.mdx
          cd /home/runner/work/zefDB/zefDB/zef-docs
          git status
          git config user.email "thedanielforum@gmail.com"
          git config user.name "Zef Bot by Github Actions"
          git add docs/zef-ops.mdx
          git commit -m "Auto generated zef-ops docs from docstrings in Zef repo."
          git push origin master
