name: Validate Main

on:
  push:
    branches:
      - main

jobs:
  check-license:
    uses: ./.github/workflows/check-license.yml
  test-code:
    # check-license is quick and we want to abort quickly if that fails
    needs: check-license
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # os: [ubuntu-20.04, macos-latest, windows-latest]
        os: [ubuntu-20.04, macos-latest]
        python-version: [3.7, "3.10", "3.11"]
        exclude:
          - os: macos-latest
            python-version: 3.8
          - os: macos-latest
            python-version: 3.7
          - os: windows-latest
            python-version: 3.7
    env:
      ZEFHUB_AUTH_KEY: "GUEST"
    steps:
      ########
      # Git things
      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      # TODO: Update this to check via building the wheel rather than a local build
      - name: Build
        uses: ./.github/actions/build
        timeout-minutes: 30
        with:
          python-version: ${{ matrix.python-version }}
          os: ${{ matrix.os }}

      - uses: 8398a7/action-slack@v3
        with:
          status: ${{ job.status }}
          if_mention: failure
          channel: '#alerts-github-ci'
          fields: repo,message,commit,author,ref,workflow # selectable (default: repo,message)
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        if: failure()
