name: Validate Push

on:
  push:
    branches-ignore:
      - main

jobs:
  check-license:
    uses: ./.github/workflows/check-license.yml
  run-tests:
    # check-license is quick and we want to abort quickly if that fails
    needs: check-license
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04]
        python-version: [3.8]
    env:
      ZEFHUB_AUTH_KEY: "GUEST"
    steps:
      ########
      # Git things
      - uses: actions/checkout@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Build
        uses: ./.github/actions/build
        timeout-minutes: 15
        with:
          python-version: ${{ matrix.python-version }}
          os: ${{ matrix.os }}
