name: Validate Pull Request

on: [pull_request]

jobs:
  check-license:
    uses: ./.github/workflows/check-license.yml
  test-code:
    # check-license is quick and we want to abort quickly if that fails
    needs: check-license
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # os: [ubuntu-20.04, macos-latest, windows-latest]
        os: [ubuntu-20.04, macos-latest]
        python-version: [3.7, "3.10"]
        exclude:
          - os: macos-latest
            python-version: "3.8"
          - os: macos-latest
            python-version: "3.7"
    env:
      ZEFHUB_AUTH_KEY: "GUEST"
    steps:
      ########
      # Git things
      - uses: actions/checkout@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          persist-credentials: true

      # TODO: Update this to check via building the wheel rather than a local build
      - name: Build
        uses: ./.github/actions/build
        # Windows takes forever to build so this needs to be >20min
        timeout-minutes: 30
        with:
          python-version: ${{ matrix.python-version }}
          os: ${{ matrix.os }}

  all-passed:
    name: All PR tests passed
    needs: test-code
    runs-on: ubuntu-20.04
    steps:
      - name: dummy
        run: |
          echo Nothing to see here
        
